{% autoescape off %}

Hi {{ user.first_name|upper }},

Reset your password for Chill Dressing

We've received a request to reset your Chill Dressing account password. If you didn't request this, you can safely ignore this email - no hard feelings!

If you did request a password reset, please click on the link below to reset your password:
http://{{domain}}{% url 'resetpassword_validate' uidb64=uid token=token %}

This link will expire in 24 hours for security reasons, so please reset your password as soon as possible.

Thanks for choosing Chill Dressing - we're always here to help you look your best!

{% endautoescape %}