{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_slidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Logged in as </strong>
                <span>{{ user.full_name | upper }}</span>
            </header>
            <div class="card-body">
                <div class="row text-center"> 
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> Total Orders </h5>
                                <h4> {{ orders_count }} </h4>
                                <a href="{% url 'my_orders' %}"> View Orders </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="{{userprofile.profile_picture.url}}" alt="User Profile Picture" width="50" height="50" style="border-radius: 50%;">
                                <p class="mb-0"> {{ user.email }} </p>
                                <p class=""> {{ user.phone_number }} </p>
                            </div>
                        </div>
                    </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            <div class="table-responsive">
            
            </div> <!-- table-responsive .end// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>

{% endblock %}